.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  /* background-color: var(--background-dark); */
  background-color: rgb(38 68 92 / 98%);
  background-image: url("./dove-охваывает-почту-18747484\ \(1\).png");
  background-size: 20vw;
  /* background-blend-mode: overlay, color; */
  /* background-blend-mode: screen; */
  /* background-blend-mode: overlay; */
  /* background-blend-mode: color-burn; */
  /* background-blend-mode: exclusion; */
  background-blend-mode: color;  
  /* background-blend-mode: multiply; */



}

.content {
  display: flex;
  flex-direction: row;
  gap: 15px;

  width: 80%;

  /* height: 90vh; */
  max-width: 1530px;

  /* align-items: center;
    justify-content: center; */
}
