:root {
  // Цвета
  --text-dark: rgb(16 12 52 / 100%);
  --text-light: rgb(163 163 163 / 100%);
  --text-white: rgb(240 240 240 / 100%);
  --background-dark: rgb(38 68 92 / 100%);
  // --background-color: rgb(38 68 92 / 97%);
  --beige-dark: rgb(234, 226, 204);
  --beige-light: rgb(248 243 233 / 100%);
  --input-hover: rgb(102 102 102 / 100%);
  --placeholder: rgb(131 130 143 / 100%);
  --comments-input-border: rgb(204 204 204 / 100%);
  --neon-pink: rgb(255 0 168 / 100%);
  --green: rgb(37 186 45);
  --white: rgb(252 252 252 / 100%);
  --error: rgb(233 13 65 / 100%);
  --disabled: rgb(191 191 191 / 100%);
  --blue: rgb(59 35 183 / 100%);
  --button-hover: rgb(249 249 249 / 100%);
  --border-radius: 10px;
  --box-shadow-down: 10px 7px 13px 0 rgb(5 6 6 / 20%);
  --box-shadow-up: -10px -7px 13px 0 rgb(5 6 6 / 20%);

  // Градиенты
  --gradient-button-main: linear-gradient(269.17deg, #3b23b7 30.28%, #c914e7 63.24%);
  --gradient-button-hover: linear-gradient(269.17deg, #3f26c4 30.28%, #d315f2 63.24%);
  --gradient-button-active: linear-gradient(269.17deg, #4328d1 30.28%, #de16ff 63.24%);

  // Шрифт
  --text-font-family: "IBM Plex Sans", arial, helvetica, sans-serif;
  --font-size-default: 14px;
  --font-size-large: 16px;
  --font-size-small: 12px;
}
