.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;

  /* position: absolute;   */

  display: inline-block;

  /* margin: 30px; */
  transform: scale(1.1);
  transform: translate(-50%, -30%);

  /* aspect-ratio: 1/1; */
  /* width: 82%; */
  width: 82%;
  max-width: 82vh;
  /* height: calc(82% * 1/1); */
  /* height: calc(82vh * 1/1); */
}

.content {
  position: relative;
  top: 0;
  left: 0;

  display: block;

  /* aspect-ratio: 1/1; */
  width: 100%;
  /* height: calc(100% * 1/1); */
  margin: 0;
  padding: 0;
}

.map,
.sphere {
  display: block;
  /* aspect-ratio: 1/1; */
  width: 100%;
  /* height: calc(100% * 1/1); */
  position: absolute;

  margin: 0;
}

.sphere {
  top: 0;
  left: 0;

  /* aspect-ratio: 1/1; */
  /* width: 100%; */

  background-repeat: no-repeat;
  background-position: 0 0;
}

.map {
  overflow: hidden;

  /* aspect-ratio: 1/1; */

  /* left: 0; 
    top: 0;  */
  /* width: 100%; */

  background-color: #ddd6c7;
  border-radius: 50%;

  /* background: radial-gradient(circle at 65% 10%, #eeebe4, #ddd6c7); */
}

.map_front {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 500%;
  height: 100%;
  margin: 0;
  /* overflow: visible; */
  background-image: url("../../images/mapfront.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 5% 50%;
  animation: textureSpinreverse 200s linear infinite;
}

.map_back {
  display: block;

  width: 500%;
  height: 100%;
  margin: 0;
  /* margin-left: 5%; */
  opacity: 0.3;

  /* overflow: visible; */
  background-image: url("../../images/mapback.svg");
  background-repeat: repeat-x;
  /* background-position: -50% 50%; */
  background-position: -50% 50%;
  background-size: contain;

  animation: textureSpin 200s linear infinite;
}

@keyframes textureSpin {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-47.5%);
  }
}
@keyframes textureSpinreverse {
  from {
    transform: translateX(-47.5%);
  }

  to {
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  /* .content {
    width: 300px;
    height: 300px;
  }
  .sphere {
    width: 300px;
    height: 300px;
  }
  .map {
    width: 300px;
    height: 300px;
  } */
  .wrapper {
    top: 38%;
    /* width: 300px;
    height: 300px; */
  }
  /* .map_front {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
  } */
}
@supports not (aspect-ratio: 1 / 1) {
  .wrapper,
  .content,
  .map,
  .sphere::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .wrapper,
  .content,
  .map,
  .sphere::after {
    display: block;
    content: "";
    clear: both;
  }
}
