.wrapper {
  position: relative;

  /* z-index: 2; */

  max-width: 60%;
  padding: 10px;

  background-color: var(--white);
  border-radius: var(--border-radius);

  /* border-top-left-radius: 0; */
}

.text {
  font-size: var(--font-size-default);
  line-height: 18px;
  cursor: pointer;
}

.reaction {
  cursor: pointer;

  position: absolute;
  bottom: -10px;

  display: flex;
  flex-direction: row;

  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: -1px -4px 18px 0 rgb(102 105 82 / 20%);
  box-shadow: -1px -4px 18px 0 rgb(102 105 82 / 20%);
  box-shadow: -1px -4px 18px 0 rgb(102 105 82 / 20%);
}

.counter {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  padding-right: 3px;

  /* position: absolute;
  bottom: 0;
  right: 0; */
  font-size: var(--font-size-small);
}

.popup {
  cursor: default;
  position: absolute;
  z-index: 300;
  top: 50%;
  width: 300px;
  height: auto;
  max-height: 400px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 4px 3px 20px -1px rgb(34 60 80 / 20%);
  box-shadow: 4px 3px 20px -1px rgb(34 60 80 / 20%);
  box-shadow: 4px 3px 20px -1px rgb(34 60 80 / 20%);
}

.summary_list {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 7px;
  max-height: 250px;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.summary_list::-webkit-scrollbar-track {
  background-color: transparent;
}

.summary_list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.summary_list::-webkit-scrollbar-thumb {
  background-color: #ddd6c7;
  border-radius: 100px;
  border-radius: var(--border-radius);
}

.summary_item {
  flex: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  width: 95%;
  height: 50px;
  margin: auto;

  border-bottom: 1px solid var(--beige-dark);

  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */

  /* font-size: var(--font-size-small); */
}

.summary_item:last-of-type {
  border-bottom: none;
}

.summary_reaction {
  font-size: 22px;
}

.summary_name {
  overflow: hidden;
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.summary_avatar {
  width: 40px;
  height: 40px;
  margin-left: auto;

  object-fit: cover;
  border-radius: 50%;
}

.actions {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--white);
  cursor: pointer;
  position: absolute;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 4px 3px 20px -1px rgb(34 60 80 / 20%);
}

.action {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--beige-dark);
  padding-left: 10px;
  padding-right: 10px;
}
