.content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 80%;
  max-width: 1530px;
}

@media (max-width: 1200px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .content {
    width: 95%;
  }
}
