.wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 350px;
  height: 370px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  z-index: 10;
  box-shadow: 4px 3px 20px -1px rgb(34 60 80 / 20%);
  /* list-style: none; */
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform-origin: right top;
}
/* .list__item {
  display: block;
} */


.userDetails {
  display: flex;
  flex-direction: row;
  position: relative;
}
.userName {
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-start;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.email {
  justify-content: flex-start;
}

.avatar {
  display: flex;
  justify-content: center;
  object-fit: cover;
  max-width: 100%;
  height: 300px;
  object-position: top;
  border-radius: var(--border-radius);
  /* margin: 20px auto; */
}

.shareContactBtn {
  background-color: var(--white);
  border: 1px solid #ddd6c7;
  border-radius: var(--border-radius);
  color: #ddd6c7;
  padding: 7px;
  text-align: start;
  /* margin-left: auto;
  margin-right: auto; */
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 576px) {
  .wrapper {
    top: 0;
    right: 0;
    width: 95%;
    padding: 10px;
    height: auto;
  }
  .avatar {
    height: 220px;
    object-fit: contain;
  }
}