.wrapper {
  position: relative;

  width: calc(100% - 400px);
  height: 95vh;

  background-color: var(--beige-dark);
  border-radius: var(--border-radius);

  /* display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  overflow-x: hidden; */
}

.content {
  position: relative;
  z-index: 5;
  /* margin-top: 70px; */
  overflow-y: scroll;

  /* height: calc(100% - 160px); */
  display: flex;
  flex-direction: column;
  gap: 25px;

  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 60px;
  overflow-x: hidden;
  --moz-scrollbar-color: #eae2cc #fff;
  --moz-scrollbar-width: thin;
}

.content::-webkit-scrollbar {
  width: 7px;
}

.content::-webkit-scrollbar-track {
  background-color: var(--beige-dark);
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  /* border-radius: var(--border-radius); */
  padding: 10px 0 20px 20px;
  position: relative;
}
.contactNone {
  width: 100%;
  height: 82px;
  background-color: var(--beige-dark);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.details {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: flex-start; */
  gap: 5px;
  width: 90%;
}
.contact__avatar {
  align-self: center;

  width: 52px;
  height: 52px;

  object-fit: cover;
  border-radius: 50%;
  flex: none;
}

.contact__name {
  font-size: var(--font-size-large);
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.isOnline {
  font-size: var(--font-size-default);
}
.container {
  position: relative;

  width: calc(100% - 85px);
  height: auto;
  min-height: 35px;

  max-height: 200px;
  margin-right: auto;
  margin-left: 10px;

  border-radius: var(--border-radius);
  /* display: flex;
  align-items: center; */
  background-color: var(--white);
  padding-top: 15px;
}

.emoji {
  z-index: 100;
  bottom: 75px;
  left: 2.5%;
  /* width: 95%; */
  /* transition: all 0s linear; */
  box-shadow: -10px -7px 13px 0 rgb(5 6 6 / 20%);
  /* box-shadow: -10px -7px 13px 0 rgb(5 6 6 / 20%);
  box-shadow: -10px -7px 13px 0 rgb(5 6 6 / 20%); */
}

#count {
  position: absolute;
  top: -10000px;
  left: -10000px;

  overflow: auto;

  box-sizing: border-box;

  white-space: pre-wrap;
}

.popupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupImage {
  max-width: 60%;
  max-height: 80%;
  object-fit: contain;
}

.messageDate {
  margin-left: auto;
  margin-right: auto;
  color: #b9ac91;
  font-size: var(--font-size-default);
  font-weight: bold;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 3px 6px;
}

.searchIcon {
  display: block;
  cursor: pointer;
  margin-top: -5px;
  /* width: 40px;
  height: 40px; */
}

.newMessagesNotification {
  margin-left: auto;
  margin-right: auto;
  color: #b9ac91;
  font-size: var(--font-size-default);
  font-weight: bold;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 3px 6px;
  width: 100%;
  text-align: center;
}

@media (max-width: 992px) {
  .wrapper {
    width: calc(100% - 300px);
  }
}

@media (max-width: 576px) {
  .wrapper {
    border-radius: 0;
    height: 100vh;
  }
  .contact {
    padding: 10px 0 20px 5px;
    gap: 10px;
    z-index: 6;
  }
  .details {
    width: 40%;
  }
  .emoji {
    left: 0;
  }
}
