.image {
  max-width: 90%;
  min-width: 10vw;
  object-fit: contain;
  border-radius: var(--border-radius);
  margin: 15px auto;
  display: block;
  cursor: pointer;

}

/* .image:hover {
  scale: 1.5;
} */

.video {
  max-width: 100%;
  min-width: 10vw;
  /* object-fit: contain; */
  border-radius: var(--border-radius);
  margin: 15px auto;
  cursor: pointer;
  /* margin-left: auto;
  margin-right: auto; */
}

.pdf {
  border-radius: var(--border-radius);
  justify-self: center;
  max-width: 20vh;
  margin: 25px auto 15px auto;
  cursor: pointer;
  /* overflow: hidden; */
  /* border: none; */
}

.file {
  position: relative;
  width: 10vh;
  height: 10vh;
  border-radius: var(--border-radius);
  background-color: var(--beige-light);
  display: flex;
  align-items: end;
  justify-content: center;
  background: url("../../images/file.svg"), var(--beige-light);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 30%;
  margin: 25px auto 15px auto;
  cursor: pointer;
  display: block;
  /* z-index: 10; */
}

.fileName {
  padding: 70px 0 0 0;
  width: 95%;
  font-size: var(--font-size-default);
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* cursor: pointer; */
}

.icon {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s linear;
  /* width: 20px;
  height: 20px; */
}

/* .image:hover span {
  display: block;
  scale: 2;
} */