.input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.label {
  cursor: pointer;

  position: absolute;
  right: 65px;
  bottom: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  background-color: var(--white);
  border: none;
  border-radius: 50%;
}
