.input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.label {
  position: absolute;
  bottom: 3px;
  right: 8%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
