  .textarea {
    resize: none;
  
    overflow-y: scroll;
    display: flex;
  
    /* justify-content: center;
    align-items: center; */
  
    /* background-color: aquamarine; */
    box-sizing: border-box;
    width: calc(100% - 60px);
    min-height: 50px;
  
    /* min-height: 50px; */
    max-height: 200px;
    padding: 15px 0 0 70px;
  
    font-size: 16px;
  
    border: none;
  
    /* height: auto;
       min-height: 50px;
    max-height: 200px;
   line-height: 20px;
      /* border: 1px solid #ccc; */
    border-radius: var(--border-radius);
    outline: none;
  }
  
  .textarea::-webkit-scrollbar-track {
    background-color: transparent;
  
    /* height: 90%; */
  }
  
  .textarea::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  
  .textarea::-webkit-scrollbar-thumb {
    background-color: #ddd6c7;
    border-radius: 100px;
    border-radius: var(--border-radius);
  }