.wrapper {
  width: 86%;
  /* height: 400px; */
  position: absolute;
  top: 75px;
  left: 7%;
  /* transform: translate(-50%, -50%); */
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-down);
  transform-origin: right top;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.list__item {
  cursor: pointer;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--beige-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: var(--text-large);
  transform-origin: bottom;
}

.list__item:nth-child(2) {
  border-bottom: none;
}
.list__item:nth-child(3) {
  border-top: 1px solid var(--beige-dark);
}
.list__item:nth-child(4) {
  /* flex-direction: column; */
  border-bottom: none;
}
/* .list__item:nth-child(5) {
  border-bottom: none;
} */
.form {
  width: 100%;
  margin-top: 10px;
  position: relative;
  /* padding-bottom: 15px; */
}

.contacts {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: var(--white);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  max-height: 300px;
  overflow-y: scroll;
  --moz-scrollbar-color: #eae2cc #fff;
  --moz-scrollbar-width: thin;
}

.contacts::-webkit-scrollbar {
  width: 4px;
}

.contacts::-webkit-scrollbar-track {
  background-color: transparent;
}

.contacts::-webkit-scrollbar-thumb {
  background-color: var(--beige-dark);
  border-radius: 3px;
  /* box-shadow: inset 0 0 6px var(--beige-dark); */
}

.contacts__item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  height: 60px;
  border-top: 1px solid var(--beige-dark);
  padding-left: 10px;
  padding-right: 10px;
}

.contacts__item:nth-child(1) {
  border-top: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input {
  width: 90%;
  /* margin-left: auto;
    margin-right: auto; */
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;

  border: 1px solid var(--beige-dark);

  border-radius: var(--border-radius);
  outline: none;
  margin-bottom: 15px;
  font-size: var(--font-size-large);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input::placeholder {
  font-size: var(--font-size-large);
}

.buttonSend {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 3px solid var(--beige-dark);
  overflow: hidden;
  box-sizing: content-box;
  background-color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.buttonSend:disabled {
  opacity: 0.5;
  cursor: auto;
}
.warning {
  /* position: absolute;
  top: -10px;
  left: 0; */
  text-align: center;
  width: 100%;
  font-size: var(--font-size-large);
  color: gray;
}